.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	@include make-row();

	.content-area {
		@include make-md-column(9);
	}

	.widget-area {
		@include make-md-column(3);
	}

	.content-area-1 {
		@include make-md-column(6);
		padding: 0;
		margin-bottom: 2em;
	}

	.content-area-2 {
		@include make-md-column(6);
		padding: 0;
		margin-bottom: 2em;
	}
}

.entry-meta,
.entry-footer {
	font-size: 12px;

	.fa {
		color: $color__light-grey;
		margin-right: 2px;
	}

	span {
		margin-right: 15px;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		color: $color__light-grey;

		&:hover {
			text-decoration: none;
			color: $gray-dark;
		}
	}
}